body{
	margin : 0; 
	padding: 0;
	font-family: Arial, Verdana, Tahoma, Sans-serif;
	font-size:14px;
}
IMG{border:0;}
P{margin:0;}
A{text-decoration:none;color:black;}
A:active{text-decoration:none;color:black;}
A:link{text-decoration:none;color:black;}
A:visited{color:black}
A:hover{color:#cc0000;}


#pnlTopList{
	background-color: #eee;
	padding:10px;
	margin:3px;
}

.panel_expand{
	border-bottom: 1px solid #888;
}